/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center;
}

/* Cabeçalho */
.header {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    text-align: right;
}

/* Container do acesso biométrico */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 2rem;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 20px; /* Ajuste para espaçamento */
    position: fixed; /* Mantém o container fixo à direita */
}

/* Títulos */
h1 {
    color: #333;
    margin-bottom: 1rem;
}

/* Estilo dos botões */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Botões ocupam toda a largura disponível */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

/* Estilo do vídeo */
#video {
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    margin-top: 1rem;
}

/* Estilo do modal */
.modal {
    position: fixed; /* Modal fixo */
    left: 20px; /* Lado esquerdo */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Coloca o modal acima dos outros elementos */
    padding: 20px; /* Espaçamento interno */
}

/* Estilo do conteúdo do modal */
.modal-content {
    text-align: center; /* Centraliza o texto no modal */
}

/* Estilo do botão de fechar */
.close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
